
@{
    ViewBag.Title = "CallDasboard";
}

<div class="row">
    <div class="col-md-12">
        <h3 class="page-title">
            Calls Dashboard
        </h3>
    </div>
</div>
<hr />
<div class="well">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3">
                <div class="form-group">
                    <label><b>Client</b></label>
                    <select class="form-control">
                        <option>Mr X</option>
                        <option>Mr Y</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label><b>Date</b></label>
                    <input type="text" class="form-control daterange" id="Date" placeholder="2/3 /2015">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label><b>Project</b></label>
                    <select class="form-control">
                        <option>XYZ</option>
                        <option>YXZ</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div style="padding-top: 9px"></div><br />
                    <input type="submit" class="btn btn-primary btn-sm" value="Filter" style="width:128px;" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive table-bordered">
            <table class="table">
                <tbody>
                    <tr>
                        <th><label>S.No.</label></th>
                        <th><label>Expert Name</label></th>
                        <th><label>Nature Of Interview</label></th>
                        <th><label>Interview Date</label></th>
                        <th><label>Call Duration</label></th>
                        <th><label>Honorarium per Hour</label></th>
                        <th><label>Payment Mode</label></th>
                        <th><label>Cost Corne By</label></th>
                        <th><label>Call Facilitated By</label></th>
                        <th><label>Payment Details</label></th>
                    </tr>
                    <tr class="">
                        <td>1</td>
                        <td>Abc</td>
                        <td>Dragos Hornoiu</td>
                        <td>TSC Romania</td>
                        <td>XYZ</td>
                        <td>ABC</td>
                        <td>XYZ</td>
                        <td>XYZ</td>
                        <td>22-Mar-2015</td>
                        <td>22-Mar-2015</td>
                    </tr>
                    <tr class="info">
                        <td>2</td>
                        <td>Abc</td>
                        <td>Dragos Hornoiu</td>
                        <td>TSC Romania</td>
                        <td>XYZ</td>
                        <td>ABC</td>
                        <td>XYZ</td>
                        <td>XYZ</td>
                        <td>22-Mar-2015</td>
                        <td>22-Mar-2015</td>
                    </tr>
                    <tr class="success">
                        <td>3</td>
                        <td>Abc</td>
                        <td>Dragos Hornoiu</td>
                        <td>TSC Romania</td>
                        <td>XYZ</td>
                        <td>ABC</td>
                        <td>XYZ</td>
                        <td>XYZ</td>
                        <td>22-Mar-2015</td>
                        <td>22-Mar-2015</td>
                    </tr>
                    <tr class="warning">
                        <td>4</td>
                        <td>Abc</td>
                        <td>Dragos Hornoiu</td>
                        <td>TSC Romania</td>
                        <td>XYZ</td>
                        <td>ABC</td>
                        <td>XYZ</td>
                        <td>XYZ</td>
                        <td>22-Mar-2015</td>
                        <td>22-Mar-2015</td>
                    </tr>
                    <tr class="danger">
                        <td>5</td>
                        <td>Abc</td>
                        <td>Dragos Hornoiu</td>
                        <td>TSC Romania</td>
                        <td>XYZ</td>
                        <td>ABC</td>
                        <td>XYZ</td>
                        <td>XYZ</td>
                        <td>22-Mar-2015</td>
                        <td>22-Mar-2015</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br />
        <div class="clearfix"></div>
        <div class="col-md-6">
            <div class="col-md-3">
                <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-sm" value="Export To Excel" />
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-sm" value="Save" style="width:128px;" />
                </div>
            </div>
        </div>
    </div>
</div>
