
@{
    ViewBag.Title = "PaidCallDetails";
}

<div class="row">
    <div class="col-md-12">
        <h3 class="page-title">
            Paid Call Details
        </h3>
    </div>
</div>
<hr />

<div class="row">
    <div class="col-md-12">
        <div class="table-responsive table-bordered">
            <table class="table">
                <tbody>
                    <tr>
                        <th><label>S.No.</label></th>
                        <th><label>Expert Name</label></th>
                        <th><label>Nature Of Interview</label></th>
                        <th><label>Interview Date</label></th>
                        <th><label>Call Duration</label></th>
                        <th><label>Honorarium per Hour</label></th>
                        <th><label>Payment Mode</label></th>
                        <th><label>Cost Corne By</label></th>
                        <th><label>Call Facilitated By</label></th>
                        <th><label>Payment Details</label></th>
                        <th><label>Geography</label></th>
                        <th><label>AmountPaid</label></th>
                    </tr>
                    <tr class="">
                        <td>1</td>
                        <td>Abc</td>
                        <td>Dragos Hornoiu</td>
                        <td>TSC Romania</td>
                        <td>XYZ</td>
                        <td>ABC</td>
                        <td>XYZ</td>
                        <td>XYZ</td>
                        <td>22-Mar-2015</td>
                        <td>22-Mar-2015</td>
                        <td>Americas</td>
                        <td>Dollar</td>
                    </tr>
                    <tr class="info">
                        <td>2</td>
                        <td>Abc</td>
                        <td>Dragos Hornoiu</td>
                        <td>TSC Romania</td>
                        <td>XYZ</td>
                        <td>ABC</td>
                        <td>XYZ</td>
                        <td>XYZ</td>
                        <td>22-Mar-2015</td>
                        <td>22-Mar-2015</td>
                        <td>MENA</td>
                        <td>Pound</td>
                    </tr>
                    <tr class="success">
                        <td>3</td>
                        <td>Abc</td>
                        <td>Dragos Hornoiu</td>
                        <td>TSC Romania</td>
                        <td>XYZ</td>
                        <td>ABC</td>
                        <td>XYZ</td>
                        <td>XYZ</td>
                        <td>22-Mar-2015</td>
                        <td>22-Mar-2015</td>
                        <td>Europe</td>
                        <td>Euro</td>
                    </tr>
                    <tr class="warning">
                        <td>4</td>
                        <td>Abc</td>
                        <td>Dragos Hornoiu</td>
                        <td>TSC Romania</td>
                        <td>XYZ</td>
                        <td>ABC</td>
                        <td>XYZ</td>
                        <td>XYZ</td>
                        <td>22-Mar-2015</td>
                        <td>22-Mar-2015</td>
                        <td>Apac</td>
                        <td>Yen</td>
                    </tr>
                    <tr class="danger">
                        <td>5</td>
                        <td>Abc</td>
                        <td>Dragos Hornoiu</td>
                        <td>TSC Romania</td>
                        <td>XYZ</td>
                        <td>ABC</td>
                        <td>XYZ</td>
                        <td>XYZ</td>
                        <td>22-Mar-2015</td>
                        <td>22-Mar-2015</td>
                        <td>Apac</td>
                        <td>Yen</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br />
        <div class="clearfix"></div>
        <div class="col-md-6">
            <div class="col-md-3">
                <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-sm" value="Export To Excel" />
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-sm" value="Save" style="width:128px;" />
                </div>
            </div>
        </div>
    </div>
</div>