@using GAPS.TSC.CONS.Domain
@model GAPS.TSC.CONS.Domain.ApiModels.Employees
@{
    ViewBag.Title = "Home Page";
}

<div>
    
    <table>
        <tr>
            <th>Employee Name</th>
        </tr>

        <tr>
            @foreach (var item in Model.employees)
            {
                <td>@item.FullName</td>
            }
        </tr>
    </table>
</div>