@using GAPS.TSC.CONS.Domain
@model GAPS.TSC.CONS.Domain.ApiModels.Employees
@{
    ViewBag.Title = "Home Page";
}

<div>
    @foreach (var item in Model.employees)
    {
        <td>@item.FullName</td>
    }

</div>