@using GAPS.TSC.CONS.Domain
@model GAPS.TSC.CONS.Domain.ApiModels.Employees
@{
    ViewBag.Title = "Home Page";
}

<div>
    
    <label>Consilium</label>
    <div class="col-md-4">
        <input type="submit" class="btn btn-primary" value="Update" style="width: 99px;" onclick="location.href='@Url.Action("UpdateRequest", "Requests", new { id = 9})' " />
    </div>
</div>