<div class="page-sidebar-wrapper">
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <div class="page-sidebar navbar-collapse collapse">
        <div style="background-color: #eee; padding: 6px; padding-left: 15px; margin-bottom: 5px;">
            <h3 style="margin: 6px 0px; font-size: 19px;">@User.Identity.Name</h3>
            @*<h5><a href="javascript:document.getElementById('logoutForm').submit()">
                   @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
                       @Html.AntiForgeryToken()
                       <span><i class="fa fa-key"></i> Logout</span>
                   }
                </a></h5>*@
        </div>
        <!-- BEGIN SIDEBAR MENU -->
        <ul class="page-sidebar-menu" data-auto-scroll="true" data-auto-speed="200">

            <li>
                <a data-toggle="collapse" href="#Id-3" aria-expanded="false" class="collapsed"><span class="title"><i class="fa fa-table" style="margin-right: 8px; color: #d9d9d9 !important;"></i> Request Expert</span><i class="pull-right fa fa-chevron-down"></i></a>
                <ul id="Id-3" class="panel-collapse page-sidebar-menu collapse" role="tabpanel" aria-expanded="false" style="height: 0px;">
                    <li><a href="/Requests/RequestExpertEn">En Projects</a></li>
                    <li><a href="/Requests/RequestExpertManual">Manual Requests</a></li>
                </ul>
            </li>
            @* Changes *@
            <li>
                <a data-toggle="collapse" href="#Id-1" aria-expanded="false" class="collapsed"><span class="title"><i class="fa fa-table" style="margin-right: 8px; color: #d9d9d9 !important;"></i>Dashboard</span><i class="pull-right fa fa-chevron-down"></i></a>
                <ul id="Id-1" class="panel-collapse page-sidebar-menu collapse" role="tabpanel" aria-expanded="false" style="height: 0px;">
                    <li><a href="/Projects/ExpertRequisition">Expert Requisition</a></li>
                    <li><a href="/Projects/Projects">Projects</a></li>
                    <li><a href="/Projects/Payments">Payments</a></li>
                </ul>
            </li>
            @* Changes *@
            <li>
                <a data-toggle="collapse" href="#Id-2" aria-expanded="false" class="collapsed"><span class="title"><i class="fa fa-calendar" style="margin-right: 8px; color: #d9d9d9 !important;"></i> PaidCalls</span><i class="pull-right fa fa-chevron-down"></i></a>
                <ul id="Id-2" class="panel-collapse page-sidebar-menu collapse" role="tabpanel" aria-expanded="false" style="height: 0px;">
                    <li><a href="/Calls/CallDasboard">Call Dasboard</a></li>
                    <li><a href="/Calls/PaidCallDetails">Paid Calls Details</a></li>
                </ul>
            </li>
            <li>
                <a data-toggle="collapse" href="#Id-4" aria-expanded="false" class="collapsed"><span class="title"><i class="fa fa-dashcube" style="margin-right: 8px; color: #d9d9d9 !important;"></i> Leads\Experts</span><i class="pull-right fa fa-chevron-down"></i></a>
                <ul id="Id-4" class="panel-collapse page-sidebar-menu collapse" role="tabpanel" aria-expanded="false" style="height: 0px;">
                    <li><a href="/Employees/AddNewLead">Add New Lead</a></li>
                    <li><a href="/Employees/LeadsDashboard">Leads DashBoard</a></li>
                    <li><a href="/Employees/ExpertsDasboard">Experts DashBoard</a></li>
                    <li><a href="/Employees/Profile">Profile</a></li>
                </ul>
            </li>
            <li>
                <a data-toggle="collapse" href="#Id-5" aria-expanded="false" class="collapsed"><span class="title"><i class="fa fa-dashcube" style="margin-right: 8px; color: #d9d9d9 !important;"></i>Reports</span><i class="pull-right fa fa-chevron-down"></i></a>
                <ul id="Id-5" class="panel-collapse page-sidebar-menu collapse" role="tabpanel" aria-expanded="false" style="height: 0px;">
                    <li><a href="/Reports/Index">Report 1</a></li>                  
                </ul>
            </li>
            
            <li class="start ">
                <a data-toggle="collapse" href="#Id" aria-expanded="False"><span class="title"><i class="fa fa-cog" style="margin-right: 8px; color: #d9d9d9;"></i> Settings</span><i class="pull-right fa fa-chevron-down"></i></a>
                <ul id="Id" class="panel-collapse collapse page-sidebar-menu" role="tabpanel">
                    <li><a href="/Employees/AddPls">Add PLs</a></li>
                    <li><a href="/Employees/AddMembers">Add Members</a></li>

                </ul>
            </li>

        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
</div>
