
@{
    ViewBag.Title = "Payments";
}


<div class="row">
    <div class="col-md-12">
        <h3 class="page-title">
            Payments to be made to Experts
        </h3>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <div class="col-md-3">
            <div class="form-group">
                <label><b>Expert Name</b></label><br>
                <input class="form-control" id="ExpertName" name="ExpertName" type="text" value="">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label><b>Nature Of Interview</b></label>
                <select class="form-control">
                    <option>Call</option>
                    <option>Email</option>
                    <option>Survey</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label><b>Interview Date</b></label>
                <input class="form-control date" id="InterviewDate" name="InterviewDate" type="text" value="">
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-3">
            <div class="form-group">
                <label><b>Call Duration</b></label><br>
                <input class="form-control" id="CallDuration" name="CallDuration" type="text" value="">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label><b>Honorarium Per Hour</b></label>
                <input class="form-control" id="HonorariumPerHour" name="HonorariumPerHour" type="text" value="">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label><b>Payment Mode</b></label>
                <input class="form-control" id="PaymentMode" name="PaymentMode" type="text" value="">
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-3">
            <div class="form-group">
                <label><b>Cost Borne By</b></label><br>
                <select class="form-control">
                    <option>Option 1</option>
                    <option>Option 2</option>
                    <option>Option 3</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label><b>Call Facilitated By</b></label>
                <select class="form-control">
                    <option>Option 1</option>
                    <option>Option 2</option>
                    <option>Option 3</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label><b>Payment Details</b></label>
                <input class="form-control" id="PaymentDetails" name="PaymentDetails" type="text" value="">
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="col-md-3">
            <div class="form-group">
                <label><b>Geography</b></label><br>
                <select class="form-control">
                    <option>Option 1</option>
                    <option>Option 2</option>
                    <option>Option 3</option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label><b>Amount to be paid</b></label>
                <input class="form-control" id="Amounttobepaid" name="Amounttobepaid" type="text" value="">
            </div>
        </div>
        <div class="col-md-1">
            <div class="form-group">
                <div style="padding-top: 7px"></div>
                <br>
                <select class="form-control">
                    <option>USD</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label><b>Payment Status</b></label>
                <select class="form-control">
                    <option>In Progress</option>
                    <option>On Hold</option>
                    <option>Paid</option>
                    <option>Cancelled</option>
                </select>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-2">
            <div class="form-group">
                <input type="submit" value="save" class="btn btn-primary" style="width: 109px;">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="col-md-10">
            <div class="table-responsive table-bordered">
                <table class="table">
                    <tbody>
                        <tr>
                            <th><label>S.No.</label></th>
                            <th><label>Expert Name</label></th>
                            <th><label>Nature Of Interview</label></th>
                            <th><label>Interview Date</label></th>
                            <th><label>Call Duration</label></th>
                            <th><label>Honorarium per Hour</label></th>
                            <th><label>Payment Mode</label></th>
                            <th><label>Cost Corne By</label></th>
                            <th><label>Call Facilitated By</label></th>
                            <th><label>Payment Details</label></th>
                        </tr>
                        <tr class="">
                            <td>1</td>
                            <td>Abc</td>
                            <td>Dragos Hornoiu</td>
                            <td>TSC Romania</td>
                            <td>XYZ</td>
                            <td>ABC</td>
                            <td>XYZ</td>
                            <td>XYZ</td>
                            <td>22-Mar-2015</td>
                            <td>22-Mar-2015</td>
                        </tr>
                        <tr class="info">
                            <td>2</td>
                            <td>Abc</td>
                            <td>Dragos Hornoiu</td>
                            <td>TSC Romania</td>
                            <td>XYZ</td>
                            <td>ABC</td>
                            <td>XYZ</td>
                            <td>XYZ</td>
                            <td>22-Mar-2015</td>
                            <td>22-Mar-2015</td>
                        </tr>
                        <tr class="success">
                            <td>3</td>
                            <td>Abc</td>
                            <td>Dragos Hornoiu</td>
                            <td>TSC Romania</td>
                            <td>XYZ</td>
                            <td>ABC</td>
                            <td>XYZ</td>
                            <td>XYZ</td>
                            <td>22-Mar-2015</td>
                            <td>22-Mar-2015</td>
                        </tr>
                        <tr class="warning">
                            <td>4</td>
                            <td>Abc</td>
                            <td>Dragos Hornoiu</td>
                            <td>TSC Romania</td>
                            <td>XYZ</td>
                            <td>ABC</td>
                            <td>XYZ</td>
                            <td>XYZ</td>
                            <td>22-Mar-2015</td>
                            <td>22-Mar-2015</td>
                        </tr>
                        <tr class="danger">
                            <td>5</td>
                            <td>Abc</td>
                            <td>Dragos Hornoiu</td>
                            <td>TSC Romania</td>
                            <td>XYZ</td>
                            <td>ABC</td>
                            <td>XYZ</td>
                            <td>XYZ</td>
                            <td>22-Mar-2015</td>
                            <td>22-Mar-2015</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="col-md-6">
            <div class="col-md-3">
                <div class="form-group">
                    <div style="padding-top: 9px"></div>
                    <br />
                    <input type="submit" class="btn btn-primary btn-sm" value="Export To Excel" />
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <div style="padding-top: 9px"></div>
                    <br />
                    <input type="submit" class="btn btn-primary btn-sm" value="Save" style="width:128px;" />
                </div>
            </div>
        </div>
    </div>

</div>
