@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-12">
        <h3 class="page-title">
            Lead/Expert Profile View
        </h3>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12 jumbotron">
        <div class="col-md-4">
            <div class="">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label><b>Expert Name: </b></label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                Dorin Stratan
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label><b>Industry: </b></label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                Dorin Stratan
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label><b>Honorarium: </b></label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                Dorin Stratan
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label><b>Geography: </b></label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                Dorin Stratan
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label><b>Country: </b></label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                Dorin Stratan
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label><b>DOJ: </b></label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                Dorin Stratan
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label><b>Address: </b></label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                Dorin Stratan
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="jumbotron" style="padding: 15px; height: 192px">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label style="margin-top: 19px;"><b>Add Note: </b></label>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <textarea class="form-control" rows="5" id="AddNote" style="width: 225px; height: 56px;"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label style="margin-top: 9px;"><b>Note By: </b></label>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <input type="text" class="form-control" id="NoteBy" placeholder="Effort">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary btn-sm" value="Save" style="margin-left: 128px; padding-top: 5px;width: 101px; " />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <div class="">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label><b>Primary Email: </b></label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                Dorin Stratan
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label><b>Phone: </b></label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                Dorin Stratan
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label><b>Secondary Email: </b></label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                Dorin Stratan
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label><b>Mobile: </b></label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                Dorin Stratan
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="jumbotron" style="padding: 15px; height: 132px">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label><b>Activity Logs: </b></label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-8">
            <div class="jumbotron" style="padding: 15px; height: 132px">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label><b>Biography: </b></label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="jumbotron" style="padding: 15px; height: 132px">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label><b>Activity 1: </b></label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12">
            @*  *@
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                EmploymentHistory
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
            </div>
            @*  *@
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12">
            @*  *@
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                Payment Details
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
            </div>
            @*  *@
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Upload Scoping Document*</label>
                        <input class="form-control" data-val="true" data-val-required="Please upload a file." id="File" name="File" type="file" value="">
                    </div>
                </div>
                @*  *@
                <div class="col-md-1">
                    <div class="form-group">
                        <div style="padding-top: 9px"></div>
                        <br>
                        <input type="submit" value="Upload" class="btn btn-primary">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <div style="padding-top: 0px"></div>
                        <input type="submit" class="btn btn-primary btn-sm" value="view CV" style="margin-left: -10px; padding-top: 7px; padding-bottom: 8px;margin-top: 27px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>