
@{
    ViewBag.Title = "RequestExpertManual";
}

<div class="row">
    <div class="col-md-12">
        <h3 class="page-title">
            Request Expert (For Manual)
        </h3>
    </div>
</div>
<hr />

<div class="row">
    <div class="col-md-12">
        <div class="col-md-4">
            <div class="form-group">
                <label><b>Client</b></label><br>
                <input class="form-control" id="Client" name="Client" type="text" value="">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label><b>Title Of Project</b></label>
                <input class="form-control" id="TitleOfProject" name="TitleOfProject" type="text" value="">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label><b>Description</b></label>
                <input class="form-control" id="Description" name="Description" type="text" value="">
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="col-md-4">
            <div class="form-group">
                <label><b>Industry</b></label><br>
                <select class="form-control">
                    <option>Option1</option>
                    <option>Option2</option>
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label><b>Bd Lead</b></label>
                <input class="form-control" id="BdLead" name="BdLead" type="text" value="">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label><b>Project Lead</b></label>
                <select class="form-control">
                    <option>Option1</option>
                    <option>Option2</option>
                </select>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="col-md-4">
            <div class="form-group">
                <label><b>Comments</b></label><br>
                <textarea class="form-control" rows="5" id="Comments" style="width: 408px; height: 35px;"></textarea>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label><b>Geography</b></label>
                <select class="form-control">
                    <option>Option1</option>
                    <option>Option2</option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label><b>Budget</b></label>
                <input class="form-control" id="Budget" name="Budget" type="text" value="">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <div style="padding-top: 7px"></div>
                <br>
                <select class="form-control">
                    <option>USD</option>
                </select>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="col-md-3">
            <div class="form-group">
                <label><b>Cost Borne By</b></label><br>
                <select class="form-control">
                    <option>TSC</option>
                    <option>Client</option>
                    <option>TSC+Client</option>
                    <option>Billed in Monday</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label><b>TSC%</b></label>
                <input class="form-control" id="TSC%" name="TSC%" type="text" value="">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label><b>Client%</b></label>
                <input class="form-control" id="Client%" name="Client%" type="text" value="">
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-9">
                    <div class="form-group">
                        <label>Upload Scoping Document*</label>
                        <input class="form-control" data-val="true" data-val-required="Please upload a file." id="File" name="File" type="file" value="">
                    </div>
                </div>
                @*  *@
                <div class="col-md-1">
                    <div class="form-group">
                        <div style="padding-top: 9px"></div>
                        <br>
                        <input type="submit" value="Upload" class="btn btn-primary">
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-3">
            <div class="form-group">
                <label><b>Unit</b></label><br>
                <select class="form-control">
                    <option>Value1</option>
                    <option>Value2</option>
                    <option>Value3</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <div style="padding-top: 9px"></div>
                <br>
                <input type="submit" value="Send Request" class="btn btn-primary">
            </div>
        </div>
    </div>
</div>

