
@{
    ViewBag.Title = "AddPls";
}

<div class="row">
    <div class="col-md-12">
        <h3 class="page-title">
            Add PLs
        </h3>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <div class="col-md-4">
            <div class="form-group">
                <label><b>PL Employee Code</b></label>
                <input class="form-control" id="PLEmployeeCode" name="PLEmployeeCode" type="text" value="">
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-2">
            <div class="form-group">
                <input type="submit" value="save" class="btn btn-primary">
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="col-md-3">
            <h3>Pls</h3>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-6">
            <div class="table-responsive table-bordered">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Emp Id</th>
                            <th><label>Name</label></th>
                            <th><label>Department</label></th>
                            <th><label>Designation</label></th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>John Smith</td>
                            <td>Technology</td>
                            <td>Developer</td>
                            <td><input type="submit" class="btn btn-danger" value="Delete" /></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Priyanka</td>
                            <td>Technology</td>
                            <td>Developer</td>
                            <td><input type="submit" class="btn btn-danger" value="Delete" /></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

