
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-12">
        <h3 class="page-title">
            Reports
        </h3>
    </div>
</div>
<hr />
<div class="well" style="background-color: #eee">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="form-group">
                    <label><b>Start Date</b></label><br>
                    <input type="text" class="form-control date" id="StartDate" placeholder="2/3 /2015">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label><b>End Date</b></label><br>
                    <input type="text" class="form-control date" id="EndDate" placeholder="3/3 /2015">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div style="padding-top: 9px"></div>
                    <br />
                    <input type="submit" class="btn btn-primary" value="Filter" />
                </div>
            </div>
            <div class="clearfix"></div>

        </div>
    </div>
</div>