@{
    ViewBag.Title = "Interviews";
}

<div class="row">
    <div class="col-md-12">
        <div class="col-md-9">
            <div class="table-responsive table-bordered">
                <table class="table">
                    <tbody>
                        <tr>
                            <th><label>S.No.</label></th>
                            <th><label>Expert Name</label></th>
                            <th><label>Region</label></th>
                            <th><label>Client Name</label></th>
                            <th><label>Project Name</label></th>
                            <th><label>Unit</label></th>
                            <th><label>Amount Paid</label></th>
                            <th><label>Month</label></th>
                            <th><label>Recruiter</label></th>
                           
                        </tr>
                        <tr class="">
                            <td>1</td>
                            <td>Abc</td>
                            <td> Plateau region of the South </td>
                            <td>TSC</td>
                            <td>XYZ</td>
                            <td>ABC</td>
                            <td>$200</td>
                            <td>July</td>
                            <td>XYZ</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

