
@{
    ViewBag.Title = "ParticularExpert";
}

<div class="row">
    <div class="col-md-12">
        <div class="col-md-9">
            <div class="table-responsive table-bordered">
                <table class="table">
                    <tbody>
                        <tr>
                            <th><label>S.No.</label></th>

                            <th><label>Expert Name</label></th>
                            <th><label>Project Name</label></th>
                            <th><label>Month</label></th>
                            


                        </tr>
                        <tr class="">
                            <td>1</td>
                            <td>ABC</td>
                            <td>TSC</td>
                            <td>July</td>
                           

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

