@{
    ViewBag.Title = "Productivity";
}

<div class="row">
    <div class="col-md-12">
        <div class="col-md-9">
            <div class="table-responsive table-bordered">
                <table class="table">
                    <tbody>
                        <tr>
                            <th><label>S.No.</label></th>
                            <th><label>Team Member</label></th>
                            <th><label>No of Requests</label></th>
                            <th><label>No of interviews</label></th>



                        </tr>
                        <tr class="">
                            <td>1</td>
                            <td>Chayanika</td>
                            <td>23</td>
                            <td>3</td>
                          

                        </tr>
                        <tr class="">
                            <td>1</td>
                            <td>Ritika Honey lal</td>
                            <td>23</td>
                            <td>3</td>

                        </tr>
                        <tr class="">
                            <td>1</td>
                            <td>Jai surabhi verma</td>
                            <td>23</td>
                            <td>3</td>

                        </tr>
                        <tr class="">
                            <td>1</td>
                            <td>Madhulika Banerjee</td>
                            <td>23</td>
                            <td>3</td>

                        </tr>
                        <tr class="">
                            <td>1</td>
                            <td>Aditya kaushik</td>
                            <td>23</td>
                            <td>3</td>

                        </tr>
                        <tr class="">
                            <td>1</td>
                            <td>Guidepoint</td>
                            <td>23</td>
                            <td>3</td>

                        </tr>
                        <tr class="">
                            <td>Total</td>
                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

