@{
    ViewBag.Title = "ProjectData";
}

<div class="row">
    <div class="col-md-12">
        <div class="col-md-9">
            <div class="table-responsive table-bordered">
                <table class="table">
                    <tbody>
                        <tr>
                            <th><label>S.No.</label></th>

                            <th><label>Project Name</label></th>
                            <th><label>PL</label></th>
                            <th><label>Unit</label></th>
                            <th><label>Client</label></th>
                            <th><label>Recruiter</label></th>


                        </tr>
                        <tr class="">
                            <td>1</td>
                            <td>TSC</td>
                            <td>Abc</td>
                            <td>23</td>
                            <td>ABC</td>
                            <td>uitesy</td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

